body
{
    margin: 0%;
    padding: 0%;
}
div
{
    text-align: center;
}
.grid-container
{
    display: grid;
    grid-template-columns: 70% auto;
    grid-gap: 5px;
    border: 10px solid black ;
    background-color: black;
    
}
#GameName
{
    width: 100%;
    height: 100%;
    grid-column: 1 / span 1;
    background-color: rgb(13, 212, 43);
    color: azure;
    font-size: 300%;
    
}
#UserName
{
    grid-column: 2 / span 1;
    background-color: rgb(13, 212, 43);
    color: azure;
    font-size: 200%;
    text-align: left; 
    width: 100%;
}
#usernameSection
{
    width: 100%;
    margin-left: 15pt;
}
#Logout
{
    width: 100%;
    text-align: right;
}
#Logout > a
{
    margin-right: 15pt;
}
#GameInterFace
{
    grid-column: 1 / span 1;
    background-color: rgb(105, 183, 232);
    color: azure;
}
#GameRankingContainer
{
    grid-column: 2 / span 1;
    background-color: rgb(192, 192, 192);
    color: rgb(54, 54, 54);
}
#GamePost
{
    grid-column: 1 / span 2;
    background-color: rgb(42, 239, 223);
    color: rgb(56, 56, 56);
}

#Game_Pic
{
    width: 40%;
}
#Score
{
    font-size: 300%;
    margin-bottom: -2%;
    font-weight: bold;
}

.ranking{
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 2%;
    margin-bottom: 2%;
}

.rankingScore{
	border-radius: 20px;
	width: 30%;
	background-color: #fcc652;
	margin-left: 15px;

	height: 50%;
	text-align: center;
	line-height: 40px;
	min-width: 100px;
}

.rankingUser {
    border-radius: 20px;
	width: 70%;
	background-color: #ffd68f;
	margin-left: 15px;

	height: 50%;
	width:50%;
	text-align: center;
	line-height: 40px;
	min-width: 200px;
}

.likeButton
{
    border-radius: 10pt;
    margin-left: 5px;
}

.dislikeButton
{
    border-radius: 10pt;
    margin-left: 5px;
    margin-right: 15px;
}

@media only screen and (max-width: 1000px)
{
    #GameInterFace
    {
        grid-column: 1 / span 2;
    }
    #GameRankingContainer
    {
        grid-column: 1 / span 2;
    }
    .rankingScore{
        line-height: 50px;
        min-width: 70px;
    }
    
    .rankingUser {
        line-height: 50px;
        min-width: 100px;
    }
}