body
{
    margin: 0%;
    padding: 0%;
    background-color: black;
}
div
{
    text-align: center;
}
.grid-container
{
    display: grid;
    grid-template-columns: 70% auto;
    grid-gap: 5px;
    border: 10px solid black ;
    background-color: black;
    
}
#GameName
{
    width: 100%;
    height: 100%;
    grid-column: 1 / span 1;
    color: rgb(255, 166, 0);
    font-size: 300%;
    background-image: url(./bg5.webp);
}
#UserName
{
    grid-column: 2 / span 1;
    background-color: rgb(13, 212, 43);
    color: azure;
    font-size: 200%;
    text-align: left; 
    background-image: url(./bg7.webp);
    background-size: 120%;
    background-position: center;
}
#usernameSection
{
    padding-left: 15pt;
}
#Logout
{
    text-align: right;
}
#Logout > a
{
    padding-right: 15pt;
}
#GameInterFace
{
    grid-column: 1 / span 1;
    background-color: rgb(105, 183, 232);
    color: azure;
}
#GameRankingContainer
{
    width: 100%;
    grid-column: 2 / span 1;
    color: rgb(54, 54, 54);
    background-image: url(./bg9.webp);
    background-size: 100%;
}
#GameRankingHead
{
    color: white;
}
#GamePost
{
    grid-column: 1 / span 2;
    color: rgb(56, 56, 56);
    background-image: url(./bg8.jpg);
}
#commentSection
{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 10pt;
}
.postmsg
{
    border-bottom: 3px solid rgb(209, 166, 87);
    background-color: whitesmoke;
    border-radius: 5pt;
    grid-column: 1 / span 1;
    margin-bottom: 2px;

}
.postUser
{
    border-bottom: 3px solid rgb(209, 166, 87);
    background-color: whitesmoke;
    border-radius: 5pt;
    grid-column: 2 / span 1;
    margin-bottom: 2px;
}
#Game_Pic
{
    width: 40%;
}
#Score
{
    font-size: 300%;
    margin-bottom: -2%;
    font-weight: bold;
}

.ranking{
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 2%;
    margin-bottom: 2%;

    /* font-size: 18pt; */
}

.rankingScore{
	border-radius: 20px;
	background-color: #fcc652;
	margin-left: 15px;
    padding-top: 15pt;
    padding-bottom: 15pt;
    padding-left: 2pt;
    padding-right: 2pt;

	height: 50%;
    width: 30%;
	text-align: center;
	/* line-height: 40px;
	min-width: 100px; */
}

.rankingUser {
    border-radius: 20px;
	background-color: #ffd68f;
	margin-left: 15px;
    padding-top: 15pt;
    padding-bottom: 15pt;

	height: 50%;
	width:50%;
	text-align: center;
	/* line-height: 40px;
	min-width: 200px; */
}

.likeButton
{
    border-radius: 10pt;
    margin-left: 5px;
    width: 50pt;
    border-color: red;
    background-color: rgb(255, 154, 154);
}

.dislikeButton
{
    border-radius: 10pt;
    margin-left: 5px;
    margin-right: 15px;
    width: 50pt;
    background-color: rgb(75, 75, 75);
    color: rgb(255, 158, 158);
}
#Ref_container
{
    grid-column: 1 / span 2;
    background-color: #ffd68f;
}
#Ref
{
    text-align: left;
}
@media only screen and (max-width: 1024px)
{
    #GameName
    {
        font-size: 200%;
    }
    #UserName
    {
        font-size: 150%;
        background-size: 150%;
    }
    #GameInterFace
    {
        grid-column: 1 / span 2;
    }
    #GameRankingContainer
    {
        grid-column: 1 / span 2;
    }
    .rankingScore{
        padding-top: 10pt;
        padding-bottom: 10pt;
        line-height: 50px;
        min-width: 70px;
    }
    
    .rankingUser {
        padding-top: 10pt;
        padding-bottom: 10pt;
        line-height: 50px;
        min-width: 100px;
    }
}
@media only screen and (max-width: 768px)
{
    #UserName
    {
        background-size: 200%;
    }
}